<nav class="navbar sticky-top navbar-expand-lg navbar-dark cyan darken-3">
    <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav mr-auto">

                {{#if user}}
                {{#each navbar_data}}
                <li class="nav-item"><a class="nav-link" href={{this.url}}>{{this.title}}</a> </li>
                {{/each}}

                {{else}}
                <li class="nav-item"> <a class="nav-link" href="/user/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/user/register">Register</a></li>
                {{/if}}
            </ul>

            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/user/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">Log Out</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>