<div class="col-md-6 mx-auto mt-4">

    <div class="card mt-4">
        <h5 class="card-header white-text text-center py-4">
            <strong>Login</strong>
        </h5>

        <div class="card-body px-lg-5 pt-0">
            <form action="/user/login" method="POST" class="text-center" style="color: #757575;">

                <div class="md-form">
                    <input type="email" name="email" id="email" class="form-control mb-4" value="{{email}}" placeholder="Email">
                </div>

                <div class="md-form">
                    <input type="password" name="password" id="password" class="form-control mb-4" value="{{password}}" placeholder="Password">
                </div>

                <button onsubmit="disableLoginButton()" id="login-button" class="btn btn-customer btn-block my-4" type="submit">Login</button>
            </form>

            <hr>
            <div class="text-center">
                <p>Need an account? <a href="/user/register">Register</a></p>
                <p>Or go <a href="/">home</a>.</p>
            </div>
        </div>
    </div>

</div>